body {
    margin: 0;
    width: 100%;
}

p, h1, h2, h3 { 
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

.code {
    font-family: 'Space Mono', monospace;
}

header, h1, footer p{
    font-family: 'Silkscreen', sans-serif;
}

header {
    background-image: url("./images/header.jpg");
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 35px;
}

nav {
    text-align: left;
}
li {
    display: inline-block;
}

a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-right: 25px;
}







footer {
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(44, 44, 44);
    padding: 10px;
    text-align: center;
}